.button
  margin: .5rem

#title
  background: #03699B
  color: #F58300
  font-size: 3rem
  font-weight: 300
  margin-bottom: 1rem

#position
  font-size:1.3rem
  margin-bottom: 1rem

#displayPosition
  font-size: 2rem
  margin-bottom: 1rem

#cards
  margin-bottom: 1rem

#foldBTN, #raiseBTN
  width: 73px

#raiseBTN
  margin-right: 10px

#displayResult
  color: #03699B
  margin-bottom: 1rem
  opacity: 0


#displayResult.flashit
  animation: flashit 3.5s

@keyframes flashit
  0%
    opacity: 1
  100%
    opacity: 0

#winStreak
  margin-bottom: 1rem

#longeststreak
  margin-bottom: 1rem

@media (max-width: 400px)
  img
    height: 150px
    width: 90px


