<!--The content below is only a placeholder and can be replaced.-->
<div id="title">Raise or Fold?</div>
<div id="position">Position: </div>
<div id="displayPosition"></div>
<div id="cards">
  <span id="displayCardOne"></span>
  <span id="displayCardTwo"></span>
</div>
<div class="button">
  <span>
    <button id="raiseBTN">Raise</button>
    <button id="foldBTN">Fold</button>
  </span>
</div>
<div class="button">
  <button id="startOver">Start Over</button>
</div>
<p id="displayResult"></p>
<p id="winStreak"></p>
<p id="longestStreak"></p>

