<app-header></app-header>
<div id="position">Position: {{ positionName }}</div>
<div id="cards">
  <img [src]="url1" id="displayCardOne">
  <img [src]="url2" id="displayCardTwo">
</div>
<div class="button">
  <span>
    <button id="raiseBTN" (click)="verifyRaise()">Raise</button>
    <button id="foldBTN" (click)="verifyFold()">Fold</button>
  </span>
</div>
<div class="button">
  <button id="startOver" (click)="drawCards()">Start Over</button>
</div>
<p *ngIf="currentWinStreak > 0 && flashTrue">Correct!</p>
<p *ngIf="currentWinStreak === 0 && !flashTrue">Wrong!</p>
<p id="winStreak" *ngIf="currentWinStreak > 0">Current Win Streak: {{ currentWinStreak }}</p>
<p id="longestStreak" *ngIf="currentWinStreak > 0">Longest Win Streak: {{ longestWinStreak }}</p>

