<div class="app-container">
  <app-header></app-header>
  <div class="position">Position: {{ positionName }}</div>
  <div class="cards">
    <img [src]="url1">
    <img [src]="url2">
  </div>
  <div class="button">
    <span>
      <button class="raise" (click)="verifyRaise()">Raise</button>
      <button class="fold" (click)="verifyFold()">Fold</button>
    </span>
  </div>
  <div class="button">
    <button (click)="drawCards()">Start Over</button>
  </div>
  <p *ngIf="currentWinStreak > 0 && flashTrue" class="display-result">Correct!</p>
  <p *ngIf="currentWinStreak === 0 && !flashTrue" class="display-result">Wrong!</p>
  <p class="win-streak" *ngIf="currentWinStreak > 0">Current Win Streak: {{ currentWinStreak }}</p>
  <p class="longest-streak" *ngIf="currentWinStreak > 0">Longest Win Streak: {{ longestWinStreak }}</p>
</div>


